:root {
	/* 
	* primary color, applied on:
	* background, underline
	 */
	--primary: #262626;
	--primary-disabled: #292222;
	/*
	* secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* third color, applied on:
	* button, 
	*/
	--third: blue;
	--third-disabled: blue;
	/*
	* other colors, used on random object.
	*/
	--o1: blue;
	--o1-disabled: blue;
}